{% extends "base.html" %}

{% block content %}

<h1 class="titulo">
    Chamados
</h1>

<div class="lista-chamados">

{% for c in chamados %}

<a
    href="/chamado/{{ c.id }}"
    class="card chamado-card"
>

    <div>

        <h3>

            #{{ c.id }}
            —
            {{ c.usuario }}

        </h3>

        <p>

            {{ c.setor }}

            •

            {{ c.maquina }}

        </p>

    </div>

    <div>

        {% if c.status == "aberto" %}

        <span class="badge aberto">
            Aberto
        </span>

        {% elif c.status == "em_andamento" %}

        <span class="badge andamento">
            Em andamento
        </span>

        {% else %}

        <span class="badge resolvido">
            Resolvido
        </span>

        {% endif %}

    </div>

</a>

{% endfor %}

</div>

{% endblock %}