{% extends "base.html" %}

{% block content %}

<h2>Chamados</h2>

<table>

<tr>
<th>ID</th>
<th>Usuário</th>
<th>Máquina</th>
<th>Status</th>
<th>Ação</th>
</tr>

{% for c in chamados %}
<tr>

<td><a href="/chamado/{{ c.id }}">#{{ c.id }}</a></td>
<td>{{ c.usuario }}</td>
<td>{{ c.maquina }}</td>

<td>
{% if c.status == "aberto" %}
<span class="badge aberto">Aberto</span>
{% elif c.status == "em_andamento" %}
<span class="badge andamento">Andamento</span>
{% else %}
<span class="badge resolvido">Resolvido</span>
{% endif %}
</td>

<td>
<a href="/assumir/{{ c.id }}">Entrar</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}