{% extends "base.html" %}

{% block content %}

<h2 style="margin-bottom:20px;">Novo Chamado</h2>

<div class="card">

<form method="POST">

    <!-- LINHA 1 -->
    <div class="form-row">
        
        <div class="form-group">
            <label>Setor</label>
            <input type="text" name="setor" placeholder="Ex: Financeiro" required>
        </div>

        <div class="form-group">
            <label>Máquina</label>
            <input type="text" name="maquina" placeholder="Ex: PC-01" required>
        </div>

    </div>

    <!-- DESCRIÇÃO -->
    <div class="form-group">
        <label>Descrição do problema</label>
        <textarea name="descricao" rows="6" placeholder="Descreva o problema..." required></textarea>
    </div>

    <button class="btn-primary">Abrir Chamado</button>

</form>

</div>

{% endblock %}